APP_ENV=dev
PORT=3000
API_BASE_URL=/api
DOCS_URL=/docs

JWT_SECRET=your-secret-key

DB_DATABASE=my-net-worth
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1

HASHID_SALT=your-salt
LOG_LEVEL=4
